@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 14px;
}

body {
  color: lightgray;
  font-family: "Roboto", sans-serif;
}

.top-menu {
  background-color: rgba(128, 128, 128, 0.274);
  border: 2px red dashed;
  width: 100vw;
  height: 3vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-menu ul {
  background-color: rgba(128, 128, 128, 0.274);
  width: 40vw;
  display: flex;
  justify-content: flex-end;
}

.top-menu li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
}

input {
  border: solid 2px rgba(128, 128, 128, 0.212);
}

.enlarge-glass {
  width: fit-content;
}

.logo {
  position: flex;
}

.logo img {
  position: flex;
  box-shadow: none;
  width: 6vh;
  align-self: flex-end;
  background-color: rgba(128, 128, 128, 0.274);
}

.main-container {
  display: flex;
}

.main-container .main {
  width: 75vh;
  height: 80vh;
  border-bottom: 2px red dashed;
}

.themed-videos {
  display: inline;
}

.themed-videos img {
  width: 9vw;
  border-top: palegreen 2px solid;
}

.footer-menu {
  border: 2px red dashed;
  width: 100vh;
}
