@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 14px;
}

body {
  color: lightgray;
  font-family: "Roboto", sans-serif;
}

.top-menu {
  border: 2px red dashed;
  width: 100vw;
  height: 6vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.top-menu li {
  list-style: none;
  display: inline;
}

.logo {
  position: flex;
}

.logo img {
  position: flex;
  justify-content: flex-end;
  width: 10vh;
  align-self: flex-end;
}

.main-container .main {
  width: 75vw;
  height: 80vh;
}
